@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&family=Ubuntu:wght@500&display=swap');
.App{
  font-family: 'Raleway', sans-serif;
  background-color:#100E1D;
  display: flex;
  flex-direction: row;
}
